body {
  background-color: #ebd7a5;
}

h2 {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
}

#root {
  border: 2px solid #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 800px;
}

/* Top Bar */
.menuBar {
  margin-bottom: 2px;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

/* Main Text Display */
#maintext {
  width: 678px;
  height: 440px;
  padding-left: 5px;
  margin-left: 15px;
  overflow-y: scroll;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid #000000;
  font-size: 18px;
}

/* Stat Bar */

.statBar {
  background-color: rgba(255, 255, 255, 0.3);
  width: 200px;
  height: 560px;
  display: block;
  float: left;
  margin-left: 5px;
  margin-right: 0;
  border: 2px solid #000000;
}

.statFrame {
  height: 20px;
  width: 160px;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px ridge #000000;
}

.statGradient {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0.7),
    rgba(255, 127, 127, 0.7) 50%,
    rgba(255, 0, 0, 0.7) 50%
  );
  height: 100%;
  width: 100%;
  transition: width 0.5s ease-in-out;
}

.statLabel {
  position: relative;
  left: 0px;
  top: -2px;
  font-family: "Palatino Linotype", Palatino, Georgia, "Times New Roman",
    sans-serif;
  font-size: 16px;
  text-shadow: 1px 1px 5px #333333;
}

.statBar p {
  width: 200px;
  line-height: 1.4em;
  padding-left: 5px;
  margin-top: 0;
  overflow-x: visible;
}

.timeDisplay {
  padding-top: 5px;
  padding-left: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.spriteDisplay {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 0;
  height: 80px;
  width: 100px;
  bottom: 0px;
}

/* Buttons */

.gridContainer {
  display: inline-block;
  margin-left: 15px;
}

.lowerGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 687px;
}

.button {
  background-repeat: no-repeat;
  height: 38px;
  margin-top: 2px;
  margin-right: 4px;
  text-align: center;
  font-family: "Palatino Linotype", Palatino, Georgia, serif;
  font-size: 16px;
  font-weight: bold;
  color: #553529;
  background-color: #95abb3;
  transition: color 0.2s linear;
}

.blankButton {
  height: 38px;
  margin-top: 2px;
  margin-right: 4px;
  visibility: hidden;
}

.button:hover {
  opacity: 0.8;
  color: #3a539b;
  cursor: pointer;
}

/* Tooltips */

#tooltip {
  position: absolute;
  left: 0px;
  top: 0px;
  display: inline-block;
}

#tooltip.right {
  margin-left: 5px;
}

#tooltip .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}

#tooltip.right .tooltip-arrow {
  top: 50%;
  left: auto;
  margin-left: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}

#tooltip .tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-right-color: transparent;
  border-style: solid;
}

#tooltip .tooltip-label {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}
